In [1]:
import pandas as pd
import os

In [85]:
pd.set_option('display.max_columns',85)
pd.set_option('display.max_rows',85)

## Merge all 12 months data into a single file

In [2]:

files = [file for file in os.listdir('./Sales_Data')]

li = []
    
for file in files:
    df = pd.read_csv('./Sales_Data/' + file, index_col=None, header=0)
#    df = pd.read_csv(filename, index_col=None, header=0)
    li.append(df)

all_months_df = pd.concat(li, axis=0, ignore_index=True)

all_months_df.to_csv('Sales_2019', index=False)

In [56]:
all_months_df = pd.read_csv('Sales_2019')
all_months_df

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
0,176558,USB-C Charging Cable,2,11.95,04/19/19 08:46,"917 1st St, Dallas, TX 75001"
1,NaN,NaN,NaN,NaN,NaN,NaN
2,176559,Bose SoundSport Headphones,1,99.99,04/07/19 22:30,"682 Chestnut St, Boston, MA 02215"
3,176560,Google Phone,1,600,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001"
4,176560,Wired Headphones,1,11.99,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001"
...,...,...,...,...,...,...
186845,222905,AAA Batteries (4-pack),1,2.99,06/07/19 19:02,"795 Pine St, Boston, MA 02215"
186846,222906,27in FHD Monitor,1,149.99,06/01/19 19:29,"495 North St, New York City, NY 10001"
186847,222907,USB-C Charging Cable,1,11.95,06/22/19 18:57,"319 Ridge St, San Francisco, CA 94016"
186848,222908,USB-C Charging Cable,1,11.95,06/26/19 18:35,"916 Main St, San Francisco, CA 94016"
186849,222909,AAA Batteries (4-pack),1,2.99,06/25/19 14:33,"209 11th St, Atlanta, GA 30301"

## Q1. What was the best month for sales ? How much was earned that month ?

### best if we convert the order_date from string to date as we can do more with dates - need to drop na

In [93]:
q1_df = all_months_df[all_months_df['Order Date'].notna()]

### After removing the NA, there is still error in conversion so we use errors = 'coerce', then drop the bad ones

In [94]:
q1_df['OrderDateTime'] = pd.to_datetime(q1_df['Order Date'], format='%m/%d/%y %H:%M', errors='coerce')
#xx = pd.to_datetime(all_months_df['Order Date'].iloc[0], format='%m/%d/%y %H:%M')
#xx
#xx.month
#all_months_df['month'] = all_months_df['Order Date'].dt.month
#all_months_df.info()

/tmp/ipykernel_21132/54233676.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  q1_df['OrderDateTime'] = pd.to_datetime(q1_df['Order Date'], format='%m/%d/%y %H:%M', errors='coerce')

In [64]:
q1_df

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address,OrderDateTime
0,176558,USB-C Charging Cable,2,11.95,04/19/19 08:46,"917 1st St, Dallas, TX 75001",2019-04-19 08:46:00
2,176559,Bose SoundSport Headphones,1,99.99,04/07/19 22:30,"682 Chestnut St, Boston, MA 02215",2019-04-07 22:30:00
3,176560,Google Phone,1,600,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001",2019-04-12 14:38:00
4,176560,Wired Headphones,1,11.99,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001",2019-04-12 14:38:00
5,176561,Wired Headphones,1,11.99,04/30/19 09:27,"333 8th St, Los Angeles, CA 90001",2019-04-30 09:27:00
...,...,...,...,...,...,...,...
186845,222905,AAA Batteries (4-pack),1,2.99,06/07/19 19:02,"795 Pine St, Boston, MA 02215",2019-06-07 19:02:00
186846,222906,27in FHD Monitor,1,149.99,06/01/19 19:29,"495 North St, New York City, NY 10001",2019-06-01 19:29:00
186847,222907,USB-C Charging Cable,1,11.95,06/22/19 18:57,"319 Ridge St, San Francisco, CA 94016",2019-06-22 18:57:00
186848,222908,USB-C Charging Cable,1,11.95,06/26/19 18:35,"916 Main St, San Francisco, CA 94016",2019-06-26 18:35:00
186849,222909,AAA Batteries (4-pack),1,2.99,06/25/19 14:33,"209 11th St, Atlanta, GA 30301",2019-06-25 14:33:00

In [95]:
q1_df.loc[q1_df['OrderDateTime'].isnull()].index
#q1_df.drop(q1_df['OrderDateTime'].isnull().index, inplace=True)

Int64Index([   519,   1149,   1155,   2878,   2893,   3036,   3209,   3618,
              4138,   4645,
            ...
            179246, 180955, 181479, 182134, 182146, 183671, 184012, 184041,
            184275, 186532],
           dtype='int64', length=355)

In [96]:
q1_df.drop(q1_df.loc[q1_df['OrderDateTime'].isnull()].index, inplace=True)

/home/michael/anaconda3/lib/python3.9/site-packages/pandas/core/frame.py:4906: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

In [97]:
q1_df

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address,OrderDateTime
0,176558,USB-C Charging Cable,2,11.95,04/19/19 08:46,"917 1st St, Dallas, TX 75001",2019-04-19 08:46:00
2,176559,Bose SoundSport Headphones,1,99.99,04/07/19 22:30,"682 Chestnut St, Boston, MA 02215",2019-04-07 22:30:00
3,176560,Google Phone,1,600,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001",2019-04-12 14:38:00
4,176560,Wired Headphones,1,11.99,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001",2019-04-12 14:38:00
5,176561,Wired Headphones,1,11.99,04/30/19 09:27,"333 8th St, Los Angeles, CA 90001",2019-04-30 09:27:00
...,...,...,...,...,...,...,...
186845,222905,AAA Batteries (4-pack),1,2.99,06/07/19 19:02,"795 Pine St, Boston, MA 02215",2019-06-07 19:02:00
186846,222906,27in FHD Monitor,1,149.99,06/01/19 19:29,"495 North St, New York City, NY 10001",2019-06-01 19:29:00
186847,222907,USB-C Charging Cable,1,11.95,06/22/19 18:57,"319 Ridge St, San Francisco, CA 94016",2019-06-22 18:57:00
186848,222908,USB-C Charging Cable,1,11.95,06/26/19 18:35,"916 Main St, San Francisco, CA 94016",2019-06-26 18:35:00
186849,222909,AAA Batteries (4-pack),1,2.99,06/25/19 14:33,"209 11th St, Atlanta, GA 30301",2019-06-25 14:33:00

In [98]:
q1_df['Month'] = q1_df['OrderDateTime'].dt.month

/tmp/ipykernel_21132/1902906217.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  q1_df['Month'] = q1_df['OrderDateTime'].dt.month

In [99]:
q1_df['Price Each'] = pd.to_numeric(q1_df['Price Each'],errors='coerce')
q1_df['Quantity Ordered'] = pd.to_numeric(q1_df['Quantity Ordered'],errors='coerce')

/tmp/ipykernel_21132/3130746842.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  q1_df['Price Each'] = pd.to_numeric(q1_df['Price Each'],errors='coerce')
/tmp/ipykernel_21132/3130746842.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  q1_df['Quantity Ordered'] = pd.to_numeric(q1_df['Quantity Ordered'],errors='coerce')

In [100]:
q1_df['Sales'] = q1_df['Price Each'] * q1_df['Quantity Ordered']

/tmp/ipykernel_21132/864450947.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  q1_df['Sales'] = q1_df['Price Each'] * q1_df['Quantity Ordered']

In [101]:
q1_df

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address,OrderDateTime,Month,Sales
0,176558,USB-C Charging Cable,2,11.95,04/19/19 08:46,"917 1st St, Dallas, TX 75001",2019-04-19 08:46:00,4,23.90
2,176559,Bose SoundSport Headphones,1,99.99,04/07/19 22:30,"682 Chestnut St, Boston, MA 02215",2019-04-07 22:30:00,4,99.99
3,176560,Google Phone,1,600.00,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001",2019-04-12 14:38:00,4,600.00
4,176560,Wired Headphones,1,11.99,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001",2019-04-12 14:38:00,4,11.99
5,176561,Wired Headphones,1,11.99,04/30/19 09:27,"333 8th St, Los Angeles, CA 90001",2019-04-30 09:27:00,4,11.99
...,...,...,...,...,...,...,...,...,...
186845,222905,AAA Batteries (4-pack),1,2.99,06/07/19 19:02,"795 Pine St, Boston, MA 02215",2019-06-07 19:02:00,6,2.99
186846,222906,27in FHD Monitor,1,149.99,06/01/19 19:29,"495 North St, New York City, NY 10001",2019-06-01 19:29:00,6,149.99
186847,222907,USB-C Charging Cable,1,11.95,06/22/19 18:57,"319 Ridge St, San Francisco, CA 94016",2019-06-22 18:57:00,6,11.95
186848,222908,USB-C Charging Cable,1,11.95,06/26/19 18:35,"916 Main St, San Francisco, CA 94016",2019-06-26 18:35:00,6,11.95
186849,222909,AAA Batteries (4-pack),1,2.99,06/25/19 14:33,"209 11th St, Atlanta, GA 30301",2019-06-25 14:33:00,6,2.99

In [102]:
q1_df_by_month = q1_df.groupby(['Month'])

In [103]:
q1_df_by_month

In [110]:
q1_answer = q1_df_by_month.sum().sort_values('Sales', ascending=False

#

In [ ]:
import matplotlib as plt

plt.bar()